* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: #F0F0F0;
    color: #303030;
}

h1, h2, h3, h4, h5, h6 {
    margin: 15px 0 5px 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 15px 0;
}

ul, ol {
    margin-left: 30px;
}

li ul {
    margin-left: 2em;
}

section {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto !important;
}

div {
    overflow: hidden;
}

footer {
    color: #888888;
    padding: 20px 0;
    text-align: center;
    max-width: 960px;
    border-top: 1px solid #888888;
    margin: 50px auto 0px;
}

footer a {
    color: #888888;
}

.row {
    padding: 15px 0;
    max-width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

#logo {
    text-align: center;
}

#logo a {
    letter-spacing: 2px;
    font-size: 2.5em;
    font-weight: 900;
    text-decoration: none;
    color: #333333;
}

#nav-button {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 700;
    padding: 30px 35px;
    background: #111111;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease;
}

#nav-button:hover {
    background: #333333;
    transition: all 0.2s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    text-align: center;
    display: inline-block;
    width: 125px;
    line-height: 2.8;
    color: black;
}

li.active {
    background: #111111;
    font-weight: 700;
    color: white;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    background: #333333;
    color: white;
    transition: all 0.2s ease;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

td, th {
    padding: 0 10px;
    white-space: nowrap;
    border: 1px solid #DDDDDD;
}

th {
    background-color: #EAEAEA;
}

tr:nth-child(even) {
    background-color: #EAEAEA;
}

.table-container {
    overflow-y: hidden;
    overflow-x: auto;
}

#banner {
    margin-bottom: 20px;
    color: #EEEEEE;
    text-align: center;
}

#banner-image {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 70vh;
    min-height: 400px;
    width: 100%;
    position: relative;
}

#banner-text {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 1200px;
    padding: 0 20px 50px;
}

#banner-text h1 {
    font-size: 4.5em;
    font-weight: 700;
    padding-bottom: 20px;
}

#banner-text p {
    font-size: 1.7em;
    line-height: 1.6;
    padding: 0px;
}

#main-content {
    width: 90vw;
    max-width: 960px;
}

@media (max-width: 650px) {
    #logo a {
        font-size: 1.8em;
    }

    .row {
        text-align: center;
    }

    #login {
        padding: 15px 0 10px 0;
    }

    #nav-button {
        font-size: 0.8em;
        position: static;
        padding: 10px 50px;
    }

    #banner-text h1 {
        font-size: 3.25em;
        font-weight: 700;
        padding-bottom: 20px;
    }
    
    #banner-text p {
        font-size: 1.1em;
        line-height: 1.3;
        padding: 0px;
    }

    nav ul li {
        width: 33.333%;
        line-height: 2.5;
    }
}