* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* TAGS */

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
}

hr {
    margin: 2em auto;
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 3.5em;
    letter-spacing: .1em;
    margin: 0 0 .2em 0;
}

a {
    display: inline;
    color: #DDDDDD;
    white-space: nowrap;
}

p {
    font-size: 1.2em;
    width: 95%;
    margin: 0 auto;
    line-height: 1.2;
    word-wrap: break-word;
    max-width: 400px;
}

footer {
    color: #DDDDDD;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2;
    margin: 6em 0 1em 0;
}

input {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    padding: 15px 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #DDDDDD;
    background: none;
    outline: none;
    border: 2px solid #DDDDDD;
}

input::placeholder {
    color: #BBBBBB;
}

#submit {
    font-size: 1.2em;
    cursor: pointer;

    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#submit:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.error {
    font-weight: 700;
    color: white;
}

/* IDs */

#wrapper {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content: space-between;
    z-index: 3;
}

#header-content {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    z-index: 2000;
}

#bg-cover {
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    min-height: 100vh;
    width: 100vw;
    z-index: 2;
    top: 0;
    left: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    z-index: 1;
}


/* MEDIA QUERIES */
@media (min-width: 600px) {
    p {
        line-height: 1.5em;
    }
}